<div class="container text-center py-5">
    <h1 class="display-1 text-danger">Oops!</h1>
    <h2 class="mb-4"><%= message %></h2>
    <% if (error && Object.keys(error).length > 0) { %>
        <div class="alert alert-danger">
            <pre class="mb-0"><%= JSON.stringify(error, null, 2) %></pre>
        </div>
    <% } %>
    <a href="/" class="btn btn-primary">Go Home</a>
</div> 